:root {
  --lightColor: #fcecdc;
  --darkColor: #233863;
  --primaryColor: #afc3fe;
  --textColor: #515151;
  --mainFont: "Actor", sans-serif;
  --secondFont: "Domine", serif;
}

* {
  font-family: var(--mainFont);
}

/* Global */
.container {
  width: 80vw;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

h2 {
  font-family: var(--secondFont);
  color: var(--darkColor);
  font-size: 3rem;
  padding-top: 2rem;
}

h3 {
  font-family: var(--secondFont);
  color: var(--primaryColor);
  line-height: 2rem;
  text-decoration: 2px underline var(--darkColor);
  text-underline-position: under;
  padding-bottom: 20px;
}

h4 {
  color: var(--primaryColor);
  text-transform: uppercase;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

p {
  color: var(--textColor);
}

/* Navbar */
.navbar {
  background: var(--lightColor);
  text-transform: uppercase;
  font-size: 0.75rem;
  position: fixed;
}

.navbar .container {
  justify-content: end !important;
}

.nav-link {
  color: var(--darkColor) !important;
  margin-left: 1rem;
  text-align: right;
}

.nav-link:hover {
  color: var(--primaryColor) !important;
}

.nav-link-active {
  text-decoration: underline !important;
}

.navbar-toggler {
  border: 0px solid #fff;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Home */
#home {
  padding-top: 12%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text-wrapper p {
  font-size: 1.25rem;
}

.btn {
  background-color: var(--primaryColor);
  border: 1px solid var(--darkColor);
  border-radius: 2px;
  color: var(--darkColor);
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: auto;
  padding: 1rem 2rem;
  transition: all 0.25s linear;
}

.btn:hover {
  background-color: transparent;
}

/* Therapy */
#therapy,
#about,
#resources {
  padding-top: 10%;
}

#therapy p {
  padding-bottom: 1rem;
}

/* About */

#about .text-wrapper {
  width: 70%;
}

#about img {
  height: 100%;
}

/* Resources */

#resources h3 {
  text-align: center;
}

.card {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05) inset;
  padding: 10px;
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
  transition: all 0.2s linear;
}

.card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0) inset;
}

/* Media Queries */
@media screen and (max-width: 992px) {
  /* Global */
  #home img,
  #therapy img {
    width: 50%;
    margin: auto;
  }

  /* Home */
  .text-wrapper {
    width: 100%;
  }
  .btn {
    margin: 30px auto 50px auto;
  }

  /* About */
  #about img {
    width: 20%;
    margin: auto;
  }
  #about .text-wrapper {
    width: 100%;
  }

  /* Resources */
  .card {
    width: 50%;
  }
}
